<mat-card class="form-content">
    <mat-card-content>
        <h2>🔥Steun Team DOL in de 100 km Run voor Kom op tegen Kanker🔥</h2>
        <p>Op 16 maart 2025 nemen wij – Sander, Tomas, Nelis en Pieter – deel aan de 100 km Run in De Schorre in Boom.
            Met afstanden van respectievelijk 40 km, 30 km, 20 km en 10 km zetten we ons samen in voor een wereld zonder
            kanker.</p>
        <p>Deze run is bijzonder persoonlijk voor ons. We lopen ter ondersteuning van onze goede vriend Jonathan, die al
            bijna twee jaar moedig strijdt tegen deze ziekte. Daarnaast herdenken we de moeder van Tomas, die onlangs
            door kanker van ons is weggenomen.</p>
        <p>Ons doel is om €2750 in te zamelen, en daarvoor hebben we jullie hulp hard nodig! Elke donatie, groot of
            klein, brengt ons dichter bij dit doel en helpt ons hoop te geven aan degenen die vechten tegen kanker.</p>
        <p>Samen maken we het verschil!<br/>
            Sander, Tomas, Nelis en Pieter</p>
    </mat-card-content>
</mat-card>
