.wrapper {
  text-align: center;
  padding: 25px;
  color: white;
}

.cta-button {
  text-align: center;
  padding: 25px 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff !important;
  background-color: #fcb514 !important;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  width: 100%;

  &:hover {
    background-color: #ff9933;
  }
}